$primary:  #7E8B30;
.b-image--col1{
    background-image: url(../img/mujer-vapeando.jpg);
    width: 100%;
    height: 475px;
    margin-bottom:1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:5px;
  
}
.b-image--col2{
    background-image: url(../img/mujer-vapeando.jpg);
    width: 100%;
    height: 230px;
    margin-bottom:1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
  }
.b-image--product{
background-image: url(../img/vape_blue.jpg);
  width: 100%;
  height: 300px;
  margin-top:2rem;
  margin-bottom:2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
.b-image{
background-image: url(../img/mujer_vapeando_fondoverde.jpg);
  width: 200px;
  height: 300px;
  margin-top:2rem;
  margin-bottom:2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.b-width{
width: 100%;
}
.b-footer{
    background-color:#7E8B30 ;
    
}
a{
    text-decoration:none;
}
.b-button{
    background-color: #7E8B30;
}
.b-product{
    background-color:#929292;
    border-radius:5px;
}
.b-aboutus{
background-image:url(../img/quienesomos.jpg);
width: 100%;
height:300px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.b-equipo{
background-image:url(../img/somosmasenelequipo.jpg);
width: 100%;
height:300px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}