.buscador {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 40%);
    
  }
.input-w{
    padding: 5px;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid;
    width: 95%;
    text-align: left;
}
.fontsize-icon{
    font-size:x-large;
}